/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2017, 11:58:20 AM
    Author     : Administrator
*/
body {
    font-family: 'Roboto', serif;
    margin: 0;
    background-color: #fafafa;
}

.lgt-error {
    color: #d32F2f;
    margin-left: 10px;
}

.lgt-text-input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    /*display: block;*/
    font-size: 16px;
    font-family: "Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 4px 0;
    /*width: 100%;*/
    background: 0 0;
    text-align: left;
    color: inherit;
}
.lgt-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: #e0e0e0;
}
.lgt-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 36px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.lgt-header div {
    display: inherit;
    align-items: center;
}
.lgt-header img {
    height: 24px;
    margin-right: 5px;
}
.lgt-header .lgt-title {
    font-weight: 500;
    font-size: 18px;
}
.lgt-header .lgt-btn {
    background-color: transparent;
    border: none;
    margin-right: 48px;
    color: #c00;
    font-size: 18px;
    font-weight: 500;
}
.lgt-header .lgt-btn:hover {
    cursor: pointer;
}
.lgt-card {
    width: 80%;
    padding: 24px 16px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.lgt-card:hover {
  transition: .2s;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
}
.lgt-grid {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lgt-nav-item {
    color: rgba(0,0,0,.38);
}
.lgt-primary-text {
    color: rgba(0,0,0,.87);
}
.lgt-input-group {
    line-height: 48px;
}

fieldset {
    border: none;
}